body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.dashboard {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #11111133;
    color: rgb(30, 2, 75);
    padding: 20px;
}

.sidebar h3 {

    font-size: 1.8rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    font-size: 1.5rem;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline 2px solid red;
}

.sidebar li {
    margin: 20px 0;
    cursor: pointer;
}

h2 {
    font-size: 2rem;
    color: darkgreen;
    font-weight: 600;
}

h3 {
    font-size: 1.7rem;
    color: #222
}

/* Main */
.main-content {
    flex: 1;
    padding: 20px;
    background: #f5f5f5;
}

.topbar {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #222;
    color: white;
}